body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}
